
body{
    background-color: black;
    font-size: 20px;
}

h1{
    font-size: 24px;
    text-align: center;
    color: white;
}

ul{
    font-size: 50px;
    color: grey;
   
}

img{
    border: 5px solid white;
    display: block;
    margin-left: auto;
    margin-right:auto ;
    width: 50;
}
   
a:hover{
   position: block;
  margin-left: auto;
  margin-right: auto;
   color: aquamarine;
}


@media  screen and (max-width: 600px) {
    body {
        font-size: 14px; 
    }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    body {
        font-size: 18px;
    }
}


@media only screen and (min-width: 1025px) {
    body {
        font-size: 20px; 
    }
}




